.admin-dashboard-sidebar {
  background: var(--light-white-color);
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid var(--primary-border-color);
  color: var(--light-gray-color);
  font-family: var(--primary-font);
}
.admin-sidebar-logo h4 {
  letter-spacing: 10px;
  text-align: center;
  padding: 22px 0;
}
.admin-dashboard-sidebar .menu-content {
  margin-bottom: 20px;
  padding: 0 20px;
}
.admin-dashboard-sidebar .menu-content h6 {
  font-size: 12px;
  color: var(--primary-btn-bg);
}
.admin-dashboard-sidebar .menu-content a {
  display: flex;
  font-size: 14px;
  color: var(--light-gray-color);
  margin-top: 5px;
  align-items: center;
  padding: 14px 20px;
}
.admin-dashboard-sidebar .menu-content li svg {
  font-size: 20px;
  margin-right: 8px;
}
.menu-content li a:hover {
  background-color: var(--sidebar-bg-color);
  color: var(--primary-btn-bg);
  border-radius: 6px;
}
.menu-content li a.active {
  background-color: var(--sidebar-bg-color);
  color: var(--primary-btn-bg);
  font-weight: 500;
  border-radius: 6px;
}