.contact-container input,
.contact-container textarea,
.contact-container select {
  font-family: var(--secondary-font);
  width: 100%;
  margin-top: 5px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--primary-border-color);
}
.contact-container input::placeholder,
.contact-container textarea::placeholder,
.contact-container select::placeholder {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--placeholder-color);
}
.contact-container input:focus,
.contact-container textarea:focus {
  outline: 1px solid var(--primary-btn-bg);
}
.contact-container label {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: var(--primary-font-color);
}
.contact-container .login-form .form-group {
  margin-bottom: 15px;
}
.contact-container {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 50px;
}
.contact-container .contact-information {
  background: linear-gradient(
    90deg,
    rgba(56, 54, 56, 1) 2%,
    rgba(11, 11, 11, 1) 37%
  );
  width: 35%;
  padding: 30px;
  border-radius: 10px;
}

.contact-container .contact-information .heading {
  margin-bottom: 80px;
}
.contact-container .contact-information h3 {
  margin-bottom: 2px;
  font-family: var(--primary-font);
  color: var(--white-color);
}

.contact-container .contact-information p {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.contact-container .contact-information .icon-text {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.contact-container .contact-information .icon-text h6 {
  font-size: 18px;
  font-weight: 300;
  font-family: var(--primary-font);
  color: var(--white-color);
}
.contact-container .contact-information .icon-text .phone-icon {
  color: var(--white-color);
  font-size: 22px;
}
.contact-container .contact-information .social-icons {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  color: var(--white-color);
}
.contact-container .contact-information .social-icons .so-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-information .social-icons .so-icon:hover {
  color: var(--light-black-color);
  transition: 0.1s ease-in;
}
.contact-container .contact-form {
  padding: 30px 20px;
}
.contact-container .contact-form .flex {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.contact-container .contact-form .form-group {
  width: 100%;
}

.radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-font-color);
  font-size: 14px;
  font-family: var(--primary-font);
}

.contact-container .contact-form textarea {
  resize: none;
  margin-bottom: 30px;
  height: 130px;
}
.contact-container .contact-form button {
  font-weight: 500;
  padding: 10px 60px;
  border-radius: 7px;
}

@media screen and (max-width: 1024px) {
  .contact-container {
    gap: 30px;
  }
  .contact-container .contact-information {
    width: 45%;
  }
  .contact-container .contact-form {
    padding: 30px 20px 30px 0;
  }

  .contact-container .radio-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    display: block;
  }

  .contact-container .contact-information {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .contact-container {
    display: block;
  }
  .contact-container .contact-information {
    width: 100%;
  }
  .contact-container .contact-form .flex {
    display: block;
    margin-bottom: 0;
  }
  .contact-container .contact-form {
    padding: 30px 10px;
  }
  .contact-container .contact-form form {
    input {
      margin-bottom: 20px;
    }
  }
  .contact-container .radio-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
  .contact-container .contact-form textarea {
    margin-bottom: 20px;
  }
}
