@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
}

:root {
  /* font color */
  --primary-font-color: #8b8e99;
  --white-color: #fff;
  --light-white-color: #f5f5f7;
  --light-gray-color: #8b8e99;
  --black-color: #000;
  --red-color: #ed4f32;
  --gray-light-text-color: #5f6c72;
  --sidebar-bg-color: #ebebee;
  --light-black-color: #747477;
  --placeholder-color: #929fa5;
  --dashboard-tr-hover-color: #f9f9fc;
  /* border */
  --primary-border-color: #e4e7e9;
  /* button */
  --primary-btn-bg: #3858d6;
  /*--------- font family --------*/
  --primary-font: "Poppins", serif;
  --secondary-font: "Inter", serif;
  --info-font: "Public Sans", serif;
}

/* scrollbar-design */

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #cfcfd0;
}

/* scrollbar-design */

.container-fluid {
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
h1 {
  font-size: 44px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: 700;
}
h3 {
  font-size: 34px;
  font-weight: 700;
}
h4 {
  font-size: 30px;
  font-weight: 500;
}
h5 {
  font-size: 26px;
  font-weight: 400;
}
h6 {
  font-size: 20px;
  font-weight: 500;
}
p {
  font-family: var(--primary-font);
  font-size: 15px;
}
a {
  text-decoration: none;
  font-family: var(--primary-font);
}
.padding-main {
  padding: 4% 2%;
}
.padding-side {
  padding: 0.3% 2%;
}
button {
  font-family: var(--primary-font);
  cursor: pointer;
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 5px;
  width: fit-content;
}
.primary-btn {
  color: var(--white-color);
  background-color: var(--primary-btn-bg);
  border: 2px solid var(--primary-btn-bg);
}
.primary-btn:hover {
  background-color: transparent;
  color: var(--primary-btn-bg);
  border: 2px solid var(--primary-btn-bg);
}
.secondary-btn {
  color: var(--primary-btn-bg);
  background-color: transparent;
  border: 2px solid var(--primary-btn-bg);
}
.secondary-btn:hover {
  background-color: var(--primary-btn-bg);
  color: var(--white-color);
  border: 2px solid var(--primary-btn-bg);
}
.info-btn {
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
}
.info-btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 2px solid var(--black-color);
}
.cancel-btn {
  background-color: transparent;
  color: var(--primary-font-color);
  border: 2px solid var(--primary-font-color);
}
.cancel-btn:hover {
  background-color: var(--primary-font-color);
  color: var(--white-color);
}
.bg-color {
  background-color: var(----light-white-color);
}
.delete-btn {
  color: var(--white-color);
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
}
.delete-btn:hover {
  background-color: transparent;
  color: var(--red-color);
  border: 2px solid var(--red-color);
}

/* -------loading-spinner--------- */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #6121d1 41%);
  background: linear-gradient(
        0deg,
        rgba(97, 33, 209, 0.5) 50%,
        rgba(97, 33, 209, 1) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(97, 33, 209, 0.25) 50%,
        rgba(97, 33, 209, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
/* -------loading-spinner--------- */

/* ----Dashboard-design-global-class--- */

.admin-panel-header-div {
  font-family: var(--info-font);
  background-color: var(--light-white-color);
  width: calc(100% - 250px);
  padding: 8px 20px 20px 20px;
  position: fixed;
  height: calc(100vh - 77px);
  left: 250px;
  top: 77px;
}
.admin-panel-header-div.full-height {
  height: calc(100vh - 20px);
}
.admin-panel-header-div h5 {
  font-weight: 600;
  font-family: var(--info-font);
  padding-bottom: 6px;
  color: #191c1f;
}
.admin-panel-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.admin-panel-header-div .breadcrumb-link {
  text-decoration: none;
  font-family: var(--info-font);
  color: var(--primary-btn-bg);
}
.admin-panel-header-div .breadcrumb-link:hover {
  text-decoration: underline;
}
.admin-panel-header-div .admin-panel-breadcrumb svg {
  font-size: 18px;
  margin: 0 5px;
  color: var(--light-gray-color);
}
.admin-panel-header-div .breadcrumb-text {
  color: var(--light-gray-color);
}
.admin-dashboard-main-header {
  display: flex;
  justify-content: space-between;
}
.admin-panel-header-tabs-and-deleteall-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-panel-header-tabs {
  border: 2px solid var(--primary-border-color);
  background: var(--white-color);
  margin-top: 15px;
  border-radius: 8px;
  padding: 4px;
  width: fit-content;
}
.admin-panel-header-tab {
  font-weight: 500;
  font-family: var(--info-font);
  border: none;
  background: none;
  color: var(--light-black-color);
  border-radius: 6px;
  transition: 0.3s;
}
.admin-panel-header-tab.active {
  background: var(--light-white-color);
  color: var(--primary-btn-bg);
  font-weight: 500;
}
.admin-panel-header-add-buttons {
  display: flex;
  gap: 16px;
}
.admin-dashboard-main-header .dashboard-add-product-btn,
.admin-header-delete-btn,
.product-variant-add-header button {
  display: flex;
  align-items: center;
  font-family: var(--info-font);
  padding: 8px 16px;
  align-self: self-end;
  height: fit-content;
  border-radius: 8px;
  font-size: 15px;
}
.admin-dashboard-main-header .dashboard-add-product-btn svg,
.admin-header-delete-btn svg {
  font-size: 22px;
  margin-right: 4px;
}
/* ----Dashboard-design-global-class--- */

/* ----Dashboard-design-table-global-class--- */
#dashboard-title-container-header {
  border-bottom: 1px solid var(--white-color);
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0 10px 20px;
  background-color: var(--sidebar-bg-color);
}

.admin-panel-header-div .dashboard-table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-width: none;
  max-height: calc(100% - 130px);
}
.admin-panel-header-div .dashboard-table-container table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-table-container .product-coupon-code {
  color: var(--black-color) !important;
  text-transform: uppercase;
}
.admin-panel-header-div .dashboard-table-container thead {
  position: sticky;
  top: 0;
  background: var(--sidebar-bg-color);
  z-index: 10;
}
.admin-panel-header-div .dashboard-table-container th {
  font-size: 15px;
  padding: 14px 0 14px 20px;
  text-align: left;
  font-weight: 500;
  color: var(--black-color);
}
.admin-panel-header-div .dashboard-table-container tr {
  border-bottom: 1px solid var(--primary-border-color);
}
.admin-panel-header-div .dashboard-table-container td {
  color: var(--light-gray-color);
  padding: 18px 0 18px 20px;
  text-align: left;
}
.admin-panel-header-div .dashboard-table-container .status {
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
}
.admin-panel-header-div .dashboard-table-container .published {
  background: #e9faf7;
  color: #1a9882;
}
.admin-panel-header-div .dashboard-table-container .draft {
  background: #f0f1f3;
  color: #667085;
}
.admin-panel-header-div .dashboard-table-container .out-of-stock {
  background: #feecee;
  color: #eb3d4d;
}
.admin-panel-header-div .dashboard-table-container .low-stock {
  background: #fff0ea;
  color: #f86624;
}
.admin-panel-header-div .dashboard-table-container .processing {
  background: #feecee;
  color: #3d44eb;
}
.admin-panel-header-div .dashboard-table-container .actions svg {
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* table-bottom-pagination-css */

.table-footer-pagination {
  padding: 15px 22px;
  font-family: var(--info-font);
  display: flex;
  color: var(--primary-font-color);
  justify-content: space-between;
  align-items: center;
}
.table-footer-pagination .pagination {
  display: flex;
  align-items: center;
}
.table-footer-pagination .pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-font-color);
  border: 2px solid var(--primary-border-color);
  cursor: pointer;
  margin-left: 8px;
  transition: all 0.6s ease;
}
.table-footer-pagination .pagination li.active {
  background-color: var(--primary-btn-bg);
  color: var(--white-color);
}
.table-footer-pagination .pagination li:hover {
  border-color: var(--primary-btn-bg);
}
.table-footer-pagination .pagination.active {
  background-color: var(--primary-btn-bg);
  color: var(--white-color);
}
.table-footer-pagination .pagination .arrow {
  border-color: 2px solid var(--primary-btn-bg) !important;
  color: var(--primary-btn-bg) !important;
}
.table-footer-pagination .pagination .arrow svg {
  font-size: 20px;
}
.table-footer-pagination .pagination .arrow.disabled {
  cursor: not-allowed;
  color: #9090eb !important;
}

/* ----Dashboard-design-table-global-class--- */

/* dashboard-add-content-css */

.dashboard-add-content-card-div {
  display: flex;
  gap: 25px;
}
.dashboard-add-content-card {
  background-color: var(--white-color);
  padding: 24px;
  height: fit-content;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.02);
}
.dashboard-add-content-card:not(:first-child) {
  margin-top: 24px;
}
.dashboard-add-content-card h6 {
  font-size: 18px;
  font-family: var(--info-font);
  padding-bottom: 5px;
}
.coupon-code-input-max-min-price,
.coupon-code-start-expity-date,
.coupon-code-input-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  gap: 20px;
}
.coupon-code-input-max-min-price input,
.coupon-code-start-expity-date input,
.coupon-code-input-profile input,
.product-container-grid input {
  margin-top: 5px;
}

/* dashboard-add-content-css */

/* ----delete-modal-container---- */

.delete-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.delete-modal-container .modal {
  font-family: var(--secondary-font);
  width: 480px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--white-color);
}
.delete-modal-container .modal h6 {
  font-family: var(--info-font);
  margin-bottom: 10px;
}
.delete-modal-container .modal span {
  color: var(--red-color);
  font-size: 13px;
}
.delete-modal-container .modal label {
  font-size: 15px;
}
.delete-modal-container .modal input {
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid var(--primary-border-color);
}
.delete-modal-container .modal input:focus-visible {
  outline: none;
}
.delete-modal-container .modal .modal-container-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.delete-modal-container .modal .modal-container-buttons button {
  display: flex;
  align-items: center;
}
.delete-modal-container .modal .modal-container-buttons button svg {
  margin-right: 5px;
  font-size: 18px;
}
.delete-modal-container .modal .modal-container-buttons .delete-btn {
  color: var(--white-color);
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
}
.delete-modal-container .modal .modal-container-buttons .delete-btn:hover {
  background-color: transparent;
  color: var(--red-color);
  border: 2px solid var(--red-color);
}
.delete-modal-container .modal .modal-container-buttons .cancel-btn {
  color: var(--red-color);
  background-color: transparent;
  border: 2px solid var(--red-color);
}
.delete-modal-container .modal .modal-container-buttons .cancel-btn:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  border: 2px solid var(--red-color);
}
.required_field {
  color: var(--red-color) !important;
  font-weight: 600;
}
/* ----delete-modal-container---- */

.admin-panel-header-div .stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 12px 0;
}
.admin-panel-header-div .stats-container .stats-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.admin-panel-header-div .stats-container .stats-box svg {
  font-size: 35px;
}
.admin-panel-header-div .stats-container .stats-title {
  font-size: 14px;
  color: var(--light-gray-color);
  font-weight: 600;
}
.admin-panel-header-div .stats-container .stats-value {
  font-family: var(--info-font);
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
}
.admin-panel-header-div .stats-container .stats-description {
  font-size: 14px;
  color: var(--light-gray-color);
  font-weight: 400;
}

/* --user dashboard global css*/

.userdashboard_main {
  background-color: var(--light-white-color);
}
.userdashboard_flex {
  display: flex;
  gap: 30px;
}
.userdashboard_main_content_div {
  width: 77%;
}
.userdashboard_main_border {
  border: 1px solid var(--primary-border-color);
  background-color: var(--white-color);
  border-radius: 4px;
  height: fit-content;
}

/* active user container in dashboard */

.admin-panel-header-div .active-user-container {
  width: 35%;
}
.active-user-container p {
  font-family: var(--info-font);
}
.active-user-container .user-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}
.active-user-container .user-item {
  display: flex;
  align-items: center;
  position: relative;
}
.active-user-container .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.active-user-container .user-info {
  margin-left: 12px;
}
.user-info .user-name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.active-user-container .user-role {
  font-size: 12px;
  color: var(--light-gray-color);
  margin: 2px 0 0;
}
.active-user-container .status-indicator {
  position: absolute;
  left: 32px;
  bottom: 0;
  width: 15px;
  height: 15px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}
